/* Resetting Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Font Faces */
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Body and General Styles */
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}
h1 {
  font-size: 3rem; /* 3 times the base font size */
  line-height: 1.2;
  margin: 0.5em 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
  margin: 0.25em 0 0.5em;
}
p,
a {
  font-size: 1rem; /* Base font size */
  line-height: 1.2;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
nav > a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #44ffa1;
  padding-bottom: 0.25em;
  font-weight: 600;
}
nav > a:hover {
  color: #44ffa1;
}

/* Hero Section */
.hero-section {
  background-color: #24053e;
  color: #fff;
  text-align: center;
  padding-bottom: 2em;
  position: relative;
}
.main-heading-highlight {
  font-size: 3rem;
  border-bottom: 2px solid #44ffa1;
}
.hero-phone-image {
  width: 80%; /* Adjusted for small screens */
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
}
.left-circle-image,
.right-circle-image {
  display: none;
}
.for-upper,
.bottom-round-div {
  height: 10%;
  bottom: -10%;
  background-color: #24053e;
}

/* Button */
.btn {
  border: 1px solid transparent;
  padding: 1em 2em;
  margin-top: 1.5em;
  background-color: #44ffa1;
  color: #24053e;
}
.btn:hover {
  background-color: #24053e;
  color: #44ffa1;
  border: 1px solid #44ffa1;
  cursor: pointer;
}

/* Round Divs */
.bottom-round-div {
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 20%;
  width: 100%;
  bottom: -18%;
}

/* Middle Section */
.middle-section {
  padding-top: 25%;
  position: relative;
  background-color: #fcf8ff;
  z-index: -1;
}
.nuber-card-container {
  padding: 0 2em;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.num-card {
  text-align: center;
  margin-bottom: 1em;
  display: flex;

  flex-direction: column;
  gap: 2em;
  padding: 1em 0;
}
.number {
  align-self: center;
  border: 1px solid black;
  padding: 0.75em 1em;
  border-radius: 50%;
}
.num-card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.num-card > div > h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
.for-middle {
  height: 5%;
  bottom: -5%;
  background-color: #fcf8ff;
}

/* Bottom Section */
.bottom-founder-secion {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
.founder-div {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 7em auto 0;
}
.founder-image {
  width: 80%;
  margin: 0 5%;
  height: auto;
}
.founder-text-div {
  /* width: 100%; */
  margin: 0 2em;
  position: absolute;
  right: 0;
  bottom: -70%;
  padding: 1em;
  padding-bottom: 2em;
  background-color: #24053e;
  color: #fff;
  line-height: 1.2;
}
.founder-text-div-image {
  display: none;
}

/* Footer */
footer {
  text-align: center;
  margin: 17em 0 3em;
}
.social-icon-links {
  padding: 1em;
}
.icon:hover {
  filter: invert(11%) sepia(86%) saturate(1852%) hue-rotate(238deg)
    brightness(85%) contrast(104%);
}

/* Media Queries */

@media (max-width: 375px) {
  nav {
    padding: 2em 1em;
  }
  .hero-phone-image {
    bottom: -40%;
  }
  .founder-text-div {
    bottom: -100%;
  }
  footer {
    margin-top: 20em;
  }
}

@media (min-width: 425px) {
  .founder-text-div {
    bottom: -50%;
  }

  footer {
    margin: 14em 0 2em;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 18px;
  }
  nav {
    padding: 1em 2em;
  }
  .main-heading-highlight {
    font-size: 3rem;
  }
  .left-circle-image,
  .right-circle-image {
    display: block;
    position: absolute;
  }
  .left-circle-image {
    left: -27.5%;
    top: 5%;
  }
  .right-circle-image {
    /* right: -27.5%; */
    top: 50%;
    right: -12.5%;
  }
  .btn {
    padding: 1em 1.5em;
  }
  .hero-phone-image {
    width: 55%;
    bottom: -70%;
  }
  .middle-section {
    padding-top: 8em;
    padding-bottom: 4em;
  }
  .nuber-card-container {
    flex-direction: column;
    margin-top: 6em;
  }
  .num-card {
    flex-direction: row;
  }
  .bottom-founder-secion {
    /* padding: 0 3em 0 0; */
    margin: 4em 0;
    margin-top: 8em;
    display: block;
  }
  .founder-div {
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 2em;
  }
  .founder-image {
    width: 50%;
  }
  .founder-text-div {
    text-align: left;
    bottom: -45%;
    right: 5%;
    width: 58%;
  }
  .founder-text-div-image {
    display: block;
    position: absolute;
    width: 20%;
    bottom: -67.5%;
    right: 12.5%;
  }
  footer {
    margin: 14em 0 2em;
  }
}

@media (min-width: 1024px) {
  * {
    font-size: 20px; /* Base font size for large screens */
  }
  nav {
    padding: 2em;
  }
  h2 {
    font-size: 1.6rem;
  }
  .hero-section {
    padding-bottom: 8em;
  }
  .left-circle-image {
    top: 20%;
    left: -150px;
  }
  .right-circle-image {
    /* right: -27.5%; */
    top: 55%;
    right: -50px;
  }
  .hero-phone-image {
    /* max-width: 1200px; */
    max-width: 650px;
    bottom: -50%;
  }
  .middle-section {
    padding-top: 350px;
    margin-bottom: 200px;
    height: 80%;
  }
  .bottom-round-div {
    height: 10%;
    bottom: -9%;
  }

  .nuber-card-container {
    flex-direction: row;
    gap: 2em;
    max-width: 1024px;
    margin: 0 auto;
  }
  .num-card {
    flex-direction: column;
    align-self: flex-start;
    padding: 0;
  }
  .bottom-founder-secion {
    max-width: 1024px;
    margin: 0 auto;
  }
  .founder-text-div {
    bottom: -40%;
    max-width: 450px;
    width: 450px;
    margin: 0 10%;
  }
  .founder-image {
    width: 400px;
    max-width: 450px;
    margin: 0 10%;
    /* max-width: ; */
    /* margin-left: 4em; */
  }
  .founder-text-div-image {
    bottom: -60%;
    right: 15%;
  }
  footer {
    margin-top: 12em;
  }
}
